* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.inter {
  font-family: 'Inter', sans-serif;
}
.noto-serif {
  font-family: 'Noto Serif', serif;
  font-variation-settings: 'wdth' 100;
}
.container {
  max-width: 1140px;
  margin: 0 auto;
}
.display_flex {
  display: flex;
}
/* Nab style start */
.nav_bar {
  justify-content: space-between;
  align-items: center;
}
.nav_items {
  justify-content: space-between;
  gap: 48px;
}
.nav_items > li {
  list-style-type: none;
}
.nav_items > li > a {
  text-decoration: none;
}
.text_bold {
  font-size: 1rem;
  color: #252432;
  font-weight: 700;
  font-family: 'Inter', sans-serif;
}
.text_gray {
  font-size: 1rem;
  color: #8987a1;
  font-weight: 400;
  font-family: 'Inter', sans-serif;
}
.nav_cart {
  font-size: 1rem;
  color: #000000;
  font-weight: 400;
  font-family: 'Inter', sans-serif;
}
.responsive_cart {
  display: none;
}
/* Nab style End */

/* Banner Section Start */
.banner {
  align-items: center;
  justify-content: space-between;
}
.banner_content {
  max-width: 570px;
}
.banner_title {
  font-size: 4.063rem;
  font-weight: 700;
  color: #000000;
  font-family: 'Noto Serif', serif;
}
.banner_title_style {
  color: #e95a08;
  font-family: 'Noto Serif', serif;
}
.banner_description {
  font-size: 1.375rem;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.5);
  font-family: 'Inter', sans-serif;
  margin-top: 13px;
}
/* Banner Section End */

/* Our Plants Start*/
.plants {
  margin-top: 120px;
}
.plants_content {
  text-align: center;
}
.plants_title {
  font-size: 3.125rem;
  font-weight: 700;
  font-family: 'Noto Serif', serif;
}
.plants_description {
  max-width: 888px;
  margin: 0 auto;
  margin-top: 16px;
}
.plants_title_style {
  color: #e95a08;
}
/* OUR PLANT CARD */
.plants_card {
  margin-top: 49px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 20px;
  row-gap: 30px;
}
.card {
  max-width: 270px;
  text-align: center;
}
.card_title {
  font-size: 1.375rem;
  font-weight: 500;
  margin-top: 15px;
}
.card_price {
  font-size: 1.375rem;
  font-weight: 700;
  margin-top: 20px;
}
.card_btn {
  background: rgb(233, 90, 8);
  padding: 26px 50px;
  width: 100%;
  font-size: 1rem;
  font-weight: 600;
  color: white;
  margin-top: 15px;
  border: none;
}
/* Our Plants End */

/* Flower and Plants Lover Start */
.flower {
  margin-top: 210px;
  position: relative;
}
.tusted_box {
  position: absolute;
  margin-top: -720px;
  margin-left: 365px;
}
.flower_box {
  justify-content: space-between;
  align-items: center;
  gap: 60px;
}
.truseted_img {
  width: 100%;
}
.trusted_img {
  max-width: 286px;
}
.flower_title {
  color: rgb(0, 0, 0);
  font-family: 'Noto Serif', serif;
  font-size: 3.125rem;
  font-weight: 700;
}
.flower_description {
  color: rgba(0, 0, 0, 0.5);
  font-family: Inter;
  font-size: 22px;
  font-weight: 400;
  margin-top: 20px;
}
.flower_description > li {
  margin-top: 20px;
}
/* Flower and Plants Lover End
 */

/* Join the colorful Bunch Start */

.colorful {
  margin-top: 120px;
  background-image: url(../assets/news-letter-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 533px;
}
.colorful_content {
  /* max-width: 830px;
  text-align: center; */
  /* margin: 0 auto; */

  text-align: center;
  margin: 0 auto;
  padding: 200px;
}
.colorful_title {
  color: rgb(255, 255, 255);
  font-family: Noto Serif;
  font-size: 3.125rem;
  font-weight: 700;
  line-height: 68px;
  letter-spacing: 0%;
  text-align: center;
}
.form_content {
  /* max-width: 604px; */
}
input {
  width: 60%;
  padding: 26px;
  margin-top: 15px;
}
input::placeholder {
  font-size: 1rem;
  font-weight: 400;
  font-family: Inter;
  color: rgba(0, 0, 0, 0.5);
}
.colorful_btn {
  padding: 26px 50px;
  border: none;
  background: rgb(233, 90, 8);
  color: rgb(255, 255, 255);
  font-family: Inter;
  font-size: 1rem;
  font-weight: 600;
}
/* Join the colorful Bunch End */

/* Footer Section Start */
.footer {
  padding: 50px 0px 50px 0px;
}
.footer_content {
  justify-content: space-evenly;
  align-items: self-start;
}
.logo_text {
  max-width: 359px;
}
.footer_link {
  list-style-type: none;
}
.footer_link > li > a {
  text-decoration: none;
  line-height: 2.5;
  color: #6b7280;
  font-family: Inter;
  font-size: 1rem;
  font-weight: 400;
  text-align: center;
}
.footer_descriptin {
  color: rgba(0, 0, 0, 0.5);
  font-family: Inter;
  font-size: 1.375rem;
  font-weight: 400;
  text-align: left;
  margin-top: 16px;
}
.company_link_3 {
  gap: 24px;
}

/* Footer Section End */
/* RESOPONSIVE MEDIA QUARY */
@media screen and (max-width: 576px) {
  /* Shared Style Start */
  .nav_bar,
  .banner_content,
  .plants_card,
  .flower_box,
  .footer_content {
    padding: 0 10px 0 10px;
  }
  /* Shared Style End */

  /* Nav Part */
  .nav_items {
    display: none;
  }
  .mobile_cart {
    text-decoration: none;
    color: #000000;
    font-size: 1rem;
    font-family: 'Inter', sans-serif;
  }
  .nav_cart_responsive > li {
    list-style-type: none;
  }
  .responsive_cart {
    display: block;
  }

  /* Banner Part */
  .banner {
    flex-direction: column-reverse;
  }
  .banner_title {
    font-size: 1.5rem;
    font-weight: 700;
    color: #000000;
    font-family: 'Noto Serif', serif;
    margin-top: 28px;
  }
  .banner_description {
    font-size: 0.875rem;
  }
  .banner_img,
  .flower_img {
    width: 100%;
  }

  /* Our Plants Section */
  .plants {
    margin-top: 65px;
  }
  .card {
    max-width: 171px;
    margin: 0 auto;
  }
  .plants_card {
    grid-template-columns: repeat(2, 1fr);
  }
  .card_img {
    width: 100%;
  }
  .card_title {
    font-size: 1rem;
    font-weight: 500;
    margin-top: 15px;
  }
  .card_price {
    font-size: 1rem;
    font-weight: 700;
    margin-top: 10px;
  }
  .card_btn {
    background: rgb(233, 90, 8);
    padding: 26px 10px;
    width: 100%;
    font-size: 1rem;
    font-weight: 600;
    color: white;
    margin-top: 15px;
    border: none;
  }
  /* Flower and Plants Lover Start */
  .flower {
    margin-top: 41px;
  }
  .trusted_img {
    display: none;
  }
  .flower_box {
    flex-direction: column;
  }
  .flower_title {
    margin-top: -18px;
    color: rgb(0, 0, 0);
    font-family: Noto Serif;
    font-size: 1.5rem;
    font-weight: 700;
  }
  .flower_description > li {
    color: rgba(0, 0, 0, 0.5);
    font-family: Inter;
    font-size: 0.875rem;
    font-weight: 400;
    margin: 20px 10px 0px 10px;
  }
  /* Flower and Plants Lover End */

  /* Join the colorful Bunch Start */
  .colorful {
    max-height: 275px;
    margin-top: 44px;
    padding-top: 137px;
  }
  .colorful_content {
    /* padding-top: 200px; */
    padding: 0px;
  }
  .colorful_title {
    color: rgb(255, 255, 255);
    font-family: Noto Serif;
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 27px;
    letter-spacing: 0%;
    text-align: center;
    margin-bottom: 23px;
  }
  .form_content {
    display: flex;
    justify-content: center;
    /* align-items: center; */
  }
  input {
    margin-top: 0px;
  }
  /* Join the colorful Bunch End */
  /* Footer Secftin Start */
  .footer_content {
    display: block;
  }
  .company_link_3 {
    margin-top: 24px;
  }
  /* Footer Secftin End */
}
